
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;700&display=swap');

body {
  margin: 0;
  font-family: 'Manrope', sans-serif;
  background-color: #F1F1F1;
  color: #333;
}

h2 {
  font-weight: 700;
}

label {
  display: block;
  margin-bottom: 0.25rem;
  font-weight: 600;
}
